body {
  width: auto;
  margin: 0;
  padding: 0;
}

header {
  background: Tomato;
  color: white;
  font-size: 2em;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0.5em;
  background: white;
  box-shadow: 0px 3px 5px grey;
}

p {
  padding: 0.5em;
  margin: 0.5em;
}

button {
  padding: 10px;
  border: 2px solid #555;
}

#nonexist {
  color: red;
  border: #000 1px solid;
}

#nonexist a {
  color: red;
  border: #000 1px solid;
}

#nonexist a:hover {
  color: red;
  border: #000 1px solid;
}
